<!-- REMINDER TO UPDATE NOSCRIPT.HTML WHEN CHAGING THIS FILE -->

<!-- Header -->
<div class="banner" style="background-image:url('../../../assets/img/toronto.jpg')">
    <div class="banner-overlay banner-overlay-active"></div>
    <div class="banner-text-wrapper">
        <h1 class="banner-title">About Me</h1>
    </div>
</div>


<!-- Icon and Body -->
<div class="body-wrapper-indent">
    <div class="banner-icon-wrapper">
        <div class="banner-icon"></div>
    </div>
    <!-- Icon and Body -->
    <div class="body-wrapper-indent">
        <div class="content-wrapper">
            <div class="outer-box">
                <div class="inner-box">
                    <div class="about-me">
                        <!--
                        <h2 class="title">About Me</h2>
                        <span class="underline"></span>
-->
                        <div class="quarter-clear"></div>
                        <p class="textarea">
                            Hi there! My name is Cedric and I am a graduate in Computer Engineering from the University of Waterloo. I am a developer who loves learning and exploring new technology. Thank you for visiting my website and feel free to get in touch!
                        </p>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="outer-box">
                <div class="inner-box">
                    <div class="skills-and-tools">
                        <h2 class="title">Languages/Tools</h2>
                        <span class="underline"></span>
                        <figure>
                            <i class="devicon-amazonwebservices-plain"></i>
                            <figcaption>AWS</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-angularjs-plain"></i>
                            <figcaption>AngularJS</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-bootstrap-plain"></i>
                            <figcaption>Bootstrap</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-csharp-plain"></i>
                            <figcaption>C#</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-cplusplus-plain"></i>
                            <figcaption>C++</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-css3-plain"></i>
                            <figcaption>CSS</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-d3js-plain"></i>
                            <figcaption>D3.JS</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-git-plain"></i>
                            <figcaption>Git</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-html5-plain"></i>
                            <figcaption>HTML</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-illustrator-plain"></i>
                            <figcaption>Illustrator</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-java-plain"></i>
                            <figcaption>Java</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-javascript-plain"></i>
                            <figcaption>JavaScript</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-jquery-plain"></i>
                            <figcaption>JQuery</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-linux-plain"></i>
                            <figcaption>Linux</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-mysql-plain"></i>
                            <figcaption>MySQL</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-postgresql-plain"></i>
                            <figcaption>PostgreSQL</figcaption>
                        </figure>
                        <figure>
                            <i class="devicon-python-plain"></i>
                            <figcaption>Python</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
