/*Main*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}

/*Links*/
a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

.menu a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

    .menu a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .menu a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

/*Page Banner*/
.banner {
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 50vh;
    box-shadow: 3px 3px 13px 5px rgba(37, 37, 37, 0.35);
}

.banner-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.banner-text-wrapper {
    position: relative;
    top: 35%;
    text-align: center;
    z-index: 20;
    padding-left: 10vw;
    padding-right: 10vw;
}

.banner-title {
    font: 60px 'Alegreya', serif;
    font-weight: 600;
    margin-top: 0px;
    color: #002a5c;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.banner-icon-wrapper {
    position: relative;
    margin-bottom: 3vw;
    z-index: 25;
}

.banner-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner-icon {
    width: 220px;
    height: 220px;
    margin-top: -110px;
    background-image: url(img/Me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -40px;
    border-radius: 250px;
    border: 3px solid rgba(255, 237, 237, 0.54);
    box-shadow: 3px 3px 13px 5px rgba(37, 37, 37, 0.35);
}

.about-page-wrapper {
    background-color: #2f2f2f;
    color: #cccbcb;
}

.under-construction {
    font: 3.5em 'Alegreya', serif;
    text-align: center;
}

/*titles*/
.title {
    border-bottom: double;
    border-bottom-color: #002a5c;
    color: #002a5c;
    padding: 1.25% 0 1.25% 0;
    display: block;
    text-align: left;
}

.sub-title {
    font-size: 1.2em;
    text-align: center;
}

/*Navigation*/
header {
    background-color: #002a5c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.90;
    width: 100%;
}

    header:hover {
        opacity: 1.00;
    }

.nav-active {
    opacity: 1.00;
    background: #001733;
}

nav ul li {
    display: inline-block;
    list-style: none;
    float: left;
    text-align: center;
    width: 25%;
    line-height: 45px;
    font-size: 20px;
}

nav li:hover {
    background: #001733;
}

.nav-active a {
    color: #ffffff;
}

.clear {
    clear: both;
    height: 40px;
}

.half_clear {
    clear: both;
    height: 20px;
}

.quarter_clear {
    clear: both;
    height: 10px;
}

.outer-box {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.95;
}

.inner-box {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.95;
    font: 25px 'Alegreya', serif;
    color: #002a5c;
    text-align: justify;
}

/*About Me*/

.about-me div ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

    .about-me div ul li {
        display: inline-block;
    }

/*Skills and Tools*/
.skills-and-tools {
    padding: 0 0 0 0;
    text-align: center;
}

.skills_and_tools i {
    font: 1.5em 'Gidugu', serif;
}

figure {
    margin: 2% 2% 1% 2%;
    display: inline-block;
    font-size: 2.5em;
}

figcaption {
    margin-top: -15%;
    font-size: 0.3em;
}

/*Projects*/
.project {
    display: inline-block;
}

.project-title h2 {
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    color: #002a5c;
}

.project-title {
    display: inline-block;
    position: relative;
    color: #002a5c;
}

.project-title:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

.project-title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
	background: #002a5c;
    transition: width .5s ease;
}

.project-title:hover:before {
    width: 100%;
	background: #002a5c;
    transition: width .5s ease;
}

.project-title:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.project-link {
    display: inline-block;
    font-size: 1em;
}

    .project-link li .fa-github:hover {
        background-color: transparent;
    }

.project-title ul li {
    list-style-type: none;
    display: inline-block;
}

.project-description-box {
    display: inline-block;
    flex-direction: column;
    width: 50%;
    color: #002a5c;
}

.project-image-box {
    float: left;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.project p {
    font-size: 25px;
    text-align: justify;
}

.left-pos-box {
    float: left;
}

.right-pos-box {
    float: right;
}


.project1 {
    width: 50%;
    height: 40vh;
    position: relative;
    z-index: 2;
    background-image: url(img/TensorFlow.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.project2 {
    width: 50%;
    height: 29vh;
    position: relative;
    z-index: 2;
    background-image: url(img/Keylogger.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 60% 75%;
}

.project3 {
    width: 50%;
    height: 24vh;
    position: relative;
    z-index: 2;
    background-image: url(img/Pedometer.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 50% 90%;
}

.project4 {
    width: 50%;
    height: 29vh;
    position: relative;
    z-index: 2;
    background-image: url(img/stocks.jpg);
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-size: 100% 75%;
}

/*Contact Form*/
.contact {
    color: #002a5c;
}

    .contact p {
        font: 25px 'Alegreya', serif;
        text-align: justify;
    }

.input {
    padding: 5px 0;
}

.contact-form div {
    width: 100%;
    box-sizing: content-box;
    padding: 5px 0;
}

.contact-form .input, .contact-form textarea {
    width: 100%;
    border-bottom: 1px solid #002a5c;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: #002a5c;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 0.65em;
}

.contact-form textarea {
    overflow: auto;
    max-width: 100%;
    font-size: 18px;
    min-height: 100px;
    margin-top: 1vh;
}

*::-webkit-input-placeholder {
    color: #002a5c;
}

*:-moz-placeholder {
    color: #002a5c;
}

*::-moz-placeholder {
    color: #002a5c;
}

*:-ms-input-placeholder {
    color: #002a5c;
}

.submit {
    font-size: 0.6em;
    float: right;
    color: #e1e1e1;
    background-color: #002a5c;
    padding: 1% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/*.fieldClicked{
    font-size: 1.3em !important;
}*/

/*Footer*/
footer {
    border-top: 1px solid #4D4E50;
    color: #002a5c;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
}

    footer div p {
        color: #ffffff;
        text-decoration: none;
    }

    footer ul {
        display: inline-block;
        text-align: center;
        list-style: none;
        width: 100%;
        margin: 0 auto;
    }

    footer li {
        display: inline-block;
    }

.footer-icons {
    background-color: #002a5c;
    max-height: 50px;
    text-align: center;
    opacity: 0.95;
}

.copyright {
    text-align: center;
}

/*Social Icons*/
.social-icon-header {
    color: #002a5c;
    font-size: 25px;
}

.about-me-icons {
    text-align: center;
}

.social-icon-contact {
    color: #ffffff;
    font-size: 1vw;
}

.social-icons i {
    margin: 0.5em 0.5em;
}

/*Linked In*/
.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

    .fa-linkedin:hover {
        background-color: #0073a4;
    }

/*Github*/
.fa-github {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

    .fa-github:hover {
        background-color: #000000;
    }

/*Stack Overflow*/
.fa-stack-overflow {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

    .fa-stack-overflow:hover {
        background-color: #f48024;
    }

/*Email*/
.fa-envelope {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

    .fa-envelope:hover {
        background-color: #0078d7;
    }

/*Page loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-effect {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    perspective: 500px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

    .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 0.35em solid #002a5c;
    }

    .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 0.35em solid #002a5c;
    }

    .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 0.35em solid #002a5c;
    }

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
