@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
    font-family: GalanoBold;
    src: url("fonts/Galano-Bold.otf") format("opentype");
}

/*Main*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}

/*Links*/
a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}

    a:hover {
        color: #ffffff;
        text-decoration: underline;
    }

.blog-link {
    color: #0000EE;
}

    .blog-link:hover {
        color: #551A8B;
    }

.menu a {
    display: block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

    .menu a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .menu a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

/*Page Banner*/
.banner {
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 50vh;
    box-shadow: 3px 3px 13px 5px rgba(37, 37, 37, 0.35);
}

.banner-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.banner-text-wrapper {
    position: relative;
    top: 35%;
    text-align: center;
    z-index: 20;
    padding-left: 10vw;
    padding-right: 10vw;
}

.banner-title {
    font-size: 60px;
    font-family: 'GalanoBold', sans-serif;
    margin-top: 0px;
    color: #184276;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -2.5px;
}

.banner-icon-wrapper {
    position: relative;
    margin-bottom: 3vw;
    z-index: 25;
}

.banner-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.banner-icon {
    width: 220px;
    height: 220px;
    margin-top: -110px;
    background-image: url(img/Me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -40px;
    border-radius: 250px;
    border: 3px solid rgba(255, 237, 237, 0.54);
    box-shadow: 3px 3px 13px 5px rgba(37, 37, 37, 0.35);
}

.about-page-wrapper {
    background-color: #2f2f2f;
    color: #cccbcb;
}

/*titles*/
.title {
    color: #184276;
    padding: 1.25% 0 0 0;
    display: block;
    text-align: -webkit-center;
    margin-bottom: 8px;
    font-weight: bold;
    letter-spacing: 7px;
}

.sub-title {
    font-size: 1.2em;
    text-align: center;
}

.underline, .underline-project {
    background-color: #184276;
    display: block;
    border: none;
    width: 50px;
    height: 3px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 1px;
    box-shadow: none;
}

.underline {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}

.underline-project {
    margin-top: -3px;
}

/*Navigation*/
header {
    background-color: #184276;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.90;
    width: 100%;
}

    header:hover {
        opacity: 1.00;
    }

.nav-active {
    opacity: 1.00;
    background: #001733;
}

nav ul li {
    display: inline-block;
    list-style: none;
    float: left;
    text-align: center;
    width: 20%;
    line-height: 45px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

nav li:hover {
    background: #001733;
}

.nav-active a {
    color: #ffffff;
}

.clear {
    clear: both;
    height: 40px;
}

.half-clear {
    clear: both;
    height: 20px;
}

.quarter-clear {
    clear: both;
    height: 10px;
}

.outer-box {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.95;
}

.inner-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.95;
    font: 25px 'Montserrat', sans-serif;
    color: #184276;
    text-align: justify;
}

/*About Me*/

.about-me div ul {
    display: inline-block;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

    .about-me div ul li {
        display: inline-block;
    }

/*Skills and Tools*/
.skills-and-tools {
    padding: 0 0 0 0;
    text-align: center;
}

.skills_and_tools i {
    font: 1.5em 'Montserrat', sans-serif;
}

figure {
    margin: 2% 2% 1% 2%;
    display: inline-block;
    font-size: 2.5em;
}

figcaption {
    font-size: 0.3em;
}

/*Projects*/
.project {
    display: inline-block;
}

.project-title h2 {
    display: inline-block;
    cursor: pointer;
    font-size: 1.2em;
    color: #184276;
}

.project-title {
    display: inline-block;
    position: relative;
    color: #184276;
}

    .project-title:before, .project-title:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2.5px;
        width: 0;
    }

    .project-title:before {
        transition: width 0s ease, background .5s ease;
    }

    .project-title:after {
        background: #184276;
        transition: width .5s ease;
    }

    .project-title:hover:before {
        width: 100%;
        background: #184276;
        transition: width .5s ease;
    }

    .project-title:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease;
    }

.project-link {
    display: inline-block;
    font-size: 1em;
}

    .project-link li .fa-github:hover {
        background-color: transparent;
    }

.project-title ul li {
    list-style-type: none;
    display: inline-block;
}

.project-description-box {
    display: inline-block;
    flex-direction: column;
    width: 50%;
    color: #184276;
}

.project-image-box {
    float: left;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.project p {
    font-size: 25px;
    text-align: justify;
}

.left-pos-box {
    float: left;
}

.right-pos-box {
    float: right;
}

.project1, .project2, .project3, .project4 {
    width: 50%;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
}

.project1 {
    height: 40vh;
    background-image: url(img/TensorFlow.jpg);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.project2 {
    height: 29vh;
    background-image: url(img/Keylogger.png);
    background-position: 50% 90%;
    background-size: 60% 75%;
}

.project3 {
    height: 24vh;
    background-image: url(img/Pedometer.png);
    background-position: 50% 100%;
    background-size: 50% 90%;
}

.project4 {
    height: 29vh;
    background-image: url(img/stocks.jpg);
    background-position: 50% 35%;
    background-size: 100% 75%;
}

/*Contact Form*/
.contact {
    color: #184276;
}

    .contact p {
        font: 25px 'Montserrat', sans-serif;
        text-align: justify;
    }

.input {
    padding: 5px 0;
}

.contact-form div {
    width: 100%;
    box-sizing: content-box;
    padding: 5px 0;
}

.contact-form .input, .contact-form textarea {
    width: 100%;
    border-bottom: 1px solid #184276;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: #184276;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 0.8em;
}

    .contact-form .input:focus, .contact-form textarea:focus {
        border-bottom: 3px solid #184276 !important;
        font-size: 22px !important;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        font-weight: 600;
    }

*::-webkit-input-placeholder {
    color: #184276;
}

*::-moz-placeholder {
    color: #184276;
}

*:-ms-input-placeholder {
    color: #184276;
}

.safari_only {
    color: #184276;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #184276;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 11px;
    width: 123px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    opacity: 0.9;
}

    .button:hover {
        opacity: 1;
    }

    .button span {
        font-family: Montserrat, sans-serif;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        font-size: 19px;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

.error-msg {
    display: inline-block;
    color: red;
    font-size: 18px;
}

footer {
    color: #184276;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
}

    footer div p {
        color: #ffffff;
        text-decoration: none;
    }

    footer ul {
        display: inline-block;
        text-align: center;
        list-style: none;
        width: 100%;
        margin: 0 auto;
    }

    footer li {
        display: inline-block;
    }

.footer-icons {
    background-color: #184276;
    max-height: 50px;
    text-align: center;
    opacity: 0.95;
}

.copyright {
    text-align: center;
    padding-top: 0.8em;
}

/*Social Icons*/
.social-icon-header {
    color: #184276;
    font-size: 25px;
}

.about-me-icons {
    text-align: center;
}

.social-icon-contact {
    color: #ffffff;
    font-size: 20px;
}

.about-me-icons i {
    margin: 0.5em 0.5em;
}

/*Icons*/
.fa-stack-overflow, .fa-envelope, .fa-github, .fa-linkedin, .fa-file-text-o {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

    .fa-linkedin:hover {
        background-color: #0073a4;
    }

    .fa-github:hover {
        background-color: #000000;
    }

    .fa-stack-overflow:hover {
        background-color: #f48024;
    }

    .fa-envelope:hover {
        background-color: #0078d7;
    }

    .fa-file-text-o:hover {
        background-color: #001e43;
    }

/*Page loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-effect {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    perspective: 500px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

    .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 0.35em solid #184276;
    }

    .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 0.35em solid #184276;
    }

    .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 0.35em solid #184276;
    }

.form-text {
    font: 0.8em Montserrat;
}

.message {
    resize: vertical;
    min-height: 100px;
}

/*Resume*/
.left-col {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.right-col {
    width: 74%;
    display: inline-block;
    vertical-align: bottom;
}

.position {
    font-size: 1.2em;
}

.company {
    font-size: 1em;
}

.period {
    font-size: .9em;
}

.description {
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    text-align: justify;
    margin-top: 5px;
}

.col-1 {
    width: 29%;
    display: inline-block;
    vertical-align: top;
}

    .col-1 p {
        text-align: left;
    }

.center-col {
    border-left: 0.1em solid rgba(0, 41, 92, 0.3);
    border-right: 0.1em solid rgba(0, 41, 92, 0.3);
    padding-left: 1em;
    padding-right: 1em;
}

.left-col-1 {
    padding-left: 1em;
}

.get-in-touch {
    margin-bottom: 10px;
}

/*Blog*/

hr {
    display: block;
    text-align: center;
}

    hr:before {
        content: "...";
        display: inline-block;
        color: #184276;
        font-size: 28px;
        letter-spacing: .6em;
    }

.blog-box {
    display: block;
    width: 100%;
    height: 250px;
    padding: 20px;
    box-shadow: 2px 2px 11px 4px rgba(37, 37, 37, 0.35);
}

.right-box, .left-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.right-box {
    width: 69%;
    float: right;
    height: 82%;
    margin-right: 1%;
}

.left-box {
    width: 30%;
    float: left;
}

.blog-title {
    font-size: 0.75em;
}

.blog-text {
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.blog-summary {
    font-size: 0.7em;
}

.blog1 {
    height: 240px;
    position: relative;
    background-image: url(img/TensorFlow.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.blog-btn-div {
    float: right;
    height: 18%;
    /*width: 100%;*/
}

.blog-btn {
    width: 150px;
    padding: 9px;
}

.cnn-blog ul {
    list-style-type: none;
}

    .cnn-blog ul li {
        margin-bottom: 10px;
    }

        .cnn-blog ul li:before {
            content: '\2014  ';
        }

.references ul li:before{
    content: '';
}

.convolutionalPic, .featuremapPic, .imgclassificationpPic, .maxPoolingPic {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.convolutionalPic {
    background-image: url('img/convolutionalnetwork.png');
    height: 35vh;
    background-size: 75vw 35vh;
}

.featuremapPic {
    background-image: url(img/featuremap.gif);
    height: 20vh;
    background-size: 20vw 20vh;
}

.imgclassificationpPic {
    background-image: url(img/imageclassification.png);
    height: 35vh;
    background-size: 75vw 35vh;
}

.maxPoolingPic {
    background-image: url(img/maxpooling.png);
    height: 25vh;
    background-size: 25vw 25vh;
}

.figure-source {
    text-align: center;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .banner-title {
        width: 250px;
        font-size: 35px;
    }

    nav ul li {
        font-size: 0.8em;
        line-height: 30px;
    }

    .social-icon-contact {
        font-size: 15px;
    }

    .about-me-icons i {
        margin: 0.25em 0.25em;
    }

    .social-icon-header {
        font-size: 15px;
    }

    figure {
        font-size: 2em;
    }

    figcaption {
        font-size: 0.25em;
    }

    .project-description-box, .project1, .project2, .project3, .project4 {
        width: 100%;
    }

    .project p {
        font-size: 14px;
    }

    .project-title:before, .project-title:after, .underline {
        height: 2px;
    }

    .underline-project {
        height: 2px;
        margin-top: -2px;
    }

    .inner-box, .contact p {
        font-size: 16px;
    }

    .validation-btn {
        font-size: 14px;
        padding: 2% 4%;
        border: none;
        border-radius: 1px;
        box-sizing: border-box;
    }

    .banner-icon {
        width: 150px;
        height: 150px;
        margin-top: -90px;
        background-position-x: -25px;
        border: 2px solid rgba(255, 237, 237, 0.54);
        box-shadow: 2px 2px 11px 4px rgba(37, 37, 37, 0.35);
    }

    .banner {
        box-shadow: 2px 2px 11px 4px rgba(37, 37, 37, 0.35);
    }

    .copyright p {
        font-size: 12px;
    }

    .half-clear {
        height: 10px;
    }

    .clear {
        height: 20px;
    }

    .loader-effect {
        width: 6em;
        height: 6em;
    }

    .inner.one, .inner.two, .inner.three {
        border-bottom: 0.15em solid #184276;
    }

    .contact-form textarea {
        min-height: 50px;
        font-size: 12px;
    }

        .contact-form .input:focus, .contact-form textarea:focus {
            border-bottom: 2.5px solid #184276 !important;
            font-size: 16px !important;
            font-weight: 500;
        }

    .button {
        float: none;
        font-size: 14px;
        padding: 8px;
        width: 100%;
    }

        .button span {
            font-size: 15px;
        }

        .button:hover span {
            padding-right: 15px;
        }
}

@media screen and (max-width: 500px) {
    hr:before {
        letter-spacing: 0.3em;
    }

    .col-1 {
        width: 100%;
    }

    .center-col {
        border-right: none;
        padding-right: 0;
    }

    .left-col-1 {
        padding-left: 0;
    }

    .left-col, .right-col {
        width: 100%;
    }

    .center-col {
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        padding-right: 0;
        display: block;
    }

    .description {
        margin-top: 0;
    }

    .underline {
        width: 35px;
    }

    .blog-box {
        height: inherit;
    }

    .left-box, .right-box, .blog-btn-div {
        width: 100%;
        float: none;
    }
}
