<div class="begin-blog"></div>
<div class="body-wrapper-indent">
    <div class="content-wrapper">
        <div class="outer-box">
            <div class="cnn-blog">
                <h1>Ethereum Smart Contracts</h1>
                <div class="date-written">May 4, 2018</div>
                <div>
                    The purpose of this blog is to briefly review some concepts regarding Ethereum smart contracts. This knowledge should help enhance the reader's understanding of the blog “Ethereum Smart Contract Security Vulnerabilities”. The notions that will be described in this blog are the blockchain technology, Ethereum, Ethereum Virtual Machine, ether, smart contracts and gas.
                </div>

                <h2>What is blockchain technology?</h2>
                <div>
                    Blockchain is a data structure similar to an immutable linked-list. A simple way of defining blockchain is to describe it as a digital ledger of records that are arranged in chunks of data called blocks. The blockchain maintains a continuously-growing list of blocks.
                    <div class="quarter-clear"></div>
                    The blocks are linked to one another through a hash function, otherwise known as cryptographic validation. For instance, Bitcoin uses the SHA-256 hash function.
                    <div class="half-clear"></div>
                    Some of the main characteristics for the blockchain are:
                    <div class="quarter-clear"></div>
                    <ul>
                        <li> Append only - Elements only get added to the end of the list</li>
                        <li> Public - All users hold the same copy of the blockchain and it is public to everyone to look at</li>
                        <li> Immutable - All changes that happen on the blockchain remain on the blockchain forever and cannot be edited, updated or deleted </li>
                        <li> Decentralized - Peer to peer platform</li>
                    </ul>
                    This technology can be used in many different application domains such as finance, IoT, security, public service, cryptocurrency and many others.
                    <div class="half-clear"></div>
                    A more detailed explanation of the blockchain will be added in our discussion of the security vulnerabilities of smart contracts related to the blockchain.
                </div>

                <h3>Mining</h3>
                <div>
                    Mining is the process of adding a block and verifying the validity of transactions through a Proof of Work (PoW) or other consensus protocols.
                </div>

                <div class="blockchainPic blogPic"></div>

                <h2>What is Ethereum?</h2>
                <div>
                    Ethereum is a blockchain distributed computing platform. The main difference between Ethereum from other cryptocurrency-based platform is that it does not only serve as a payment system but also as a computing platform. Some refer to it as <i>The World's Computer </i>due to its availability to everyone. Others refer to it as the <i>future of internet</i> due to its transparency.
                </div>

                <h3>Ethereum Virtual Machine</h3>
                <div>
                    Ethereum provides a decentralized turing-complete virtual machine. Turing-complete essentially means you can write programs known as contracts that can solve any reasonable computational problem. The virtual machine is known as the Ethereum Virtual Machine or for short EVM. The EVM is a run time environment for smart contracts. Smart contracts are described in the next section. The EVM has a 256-bit register stack which is designed to run the code. It is completely isolated from the network, filesystem and the host computer system. Every single Ethereum node in the network runs an EVM implementation and executes the same instructions.
                </div>

                <h3>What is Ether?</h3>
                <div>
                    Sometimes, ether and Ethereum are interchangeable but in this blog, ether will represent a cryptocurrency whose blockchain is generated by the Ethereum platform. At the time of writing, an ether has a value of $789.75.
                </div>

                <h2>What are smart contracts?</h2>
                <div>
                    Smart contracts are a collection of code and data that reside on a specific address on the Ethereum blockchain. Smart contracts contain the code function that enable the interaction with other contracts, make decisions, store data and send ether between users. They are defined by their creators. Their execution and the services they offer is provided by the EVM itself. They also hold the characteristic of immutability since they are located on the blockchain. This means once a contract has been deployed on the blockchain, there is no way of editing it or deleting it. This increases the importance of the attention to detail given when creating a contract. If a contract has a bug in it or a security vulnerability then the contract is considered to be useless. In other words, smart contracts are like normal contracts but are digital. The advantage of having smart contracts on the blockchain is that it is immutable and can resemble a stable law structure.
                </div>

                <h3>How can they be used?</h3>
                <div>
                    Smart contracts can be used to replace real estate contracts, trust funds, wills, Airbnb, Uber and many other services. Any form of contract can be replaced with a digital one. A digital contract will be copied on all the nodes and will be immutable.
                </div>

                <h2>What is solidity</h2>
                <div>
                    Solidity is a contract-oriented programming language for writing smart contracts. It runs on the EVM and it is read sequentially. Solidity is statically typed and the type of each variable needs to be specified at compile-time. The language is easy to learn and similar to JavaScript. A really good online tutorial is CryptoZombie. In this tutorial, the reader will learn how to build a game a game on Ethereum. It is designed for beginners to Solidity but it also assumes that the user has some experience programming in another language. The tutorial also explains concepts of real Decentralized Applications (DApps) such as contract ownership, gas costs, code optimization and security. In addition, it explains the concept of the ERC721 standard and cryptocollectible assets. Lastly, it also includes a module on Front-End development where it introduces frameworks like Infura and Metamas and Web3.js in order to have the web browser communicate with the blockchain.
                </div>

                <h2>Example of Smart Contract</h2>
                <div>
                    Below is an example of a basic smart contract by Nicola Atzei:
                </div>

                <div class="smartContractPic blogPic"></div>
                <div class="figure-source">Figure 1: Smart Contract. Source [1]</div>

                <h3>What is gas?</h3>
                <div>
                    Gas is known as the fuel an Ethereum decentralized application runs on. In solidity, users have to pay every time they execute a function using the currency of gas. Users pay for gas with Ether.
                </div>

                <h3>How much gas is required to execute a function?</h3>
                <div>
                    It all depends on its complexity in terms of function’s logic. Each individual operation has a gas cost based on how much computing resources will be required to perform that operation. For example, writing to storage is much more expensive than adding two integers. This is why code optimization is much more important in solidity than in other programming languages.
                </div>

                <h2>References</h2>
                <div class="references">
                    <ul>
                        <li> <a class="blog-link" target="_blank" href="https://eprint.iacr.org/2016/1007.pdf">[1] A survery of attacks on Ethereum smart contracts</a></li>
                        <li> <a class="blog-link" target="_blank" href="https://brage.bibsys.no/xmlui/bitstream/handle/11250/2479191/18400_FULLTEXT.pdf?sequence=1">[2] Ethereum Smart Contracts: Security Vulneraiblities and Security Tools</a></li>
                        <li> <a class="blog-link" target="_blank" href="https://en.wikipedia.org/wiki/Ethereum">[3] Ethereum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
