<!-- Header -->
<div class="banner" style="background-image:url('../../../assets/img/toronto.jpg')">
    <div class="banner-overlay banner-overlay-active"></div>
    <div class="banner-text-wrapper">
        <h1 class="banner-title">Contact</h1>
    </div>
</div>

<!-- Icon and Body -->
<div class="body-wrapper-indent">
    <div class="banner-icon-wrapper">
        <div class="banner-icon"></div>
    </div>

    <div class="outer-box">
        <div class="inner-box">
            <div class="contact">
                <h2 class="get-in-touch title"> Get in Touch </h2>
                <span class="underline"></span>
                <p class="textarea">
                    Have questions about my projects? Would like to reach out? Have a project in mind? Let's connect and build something new.
                </p>
            </div>
        </div>
        <div class="quarter-clear"></div>
        <div class="inner-box">
            <div class="contact-form">
                <form id="formId">
                    <div>
                        <input class="input name form-text" id="name" name="name" type="text" aria-required="true" placeholder="Name">
                    </div>
                    <div>
                        <input class="input email form-text" id="email" name="_replyto" type="email" aria-required="true" placeholder="E-mail">
                    </div>
                    <div class="contact-textarea">
                        <textarea class="message form-text" id="message" name="body" type="text" aria-required="true" placeholder="Message"></textarea>
                    </div>
                    <input hidden type="text" name="_gotcha">
                    <input hidden name="_subject" value="Subject">
                    <div class="submit-btn-div">
                        <p type="hidden" class="status-msg"></p>
                        <button class="button validation-btn" type="submit"><span>Submit </span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('.validation-btn').on('click', function(e) {
        var name = $('.name').val();
        var email = $('.email').val();
        var msg = $('.message').val();

        if (name == "" || name == null, email == "" || email == null, msg == "" || msg == null) {
            $('.status-msg').text("Please Fill All Fields");
            $('.status-msg').css("color", "red");
            $('.status-msg').show();
            return false;
        } else if (!validateEmail(email)) {
            $('.status-msg').text("Please Enter A Valid Email");
            $('.status-msg').css("color", "red");
            $('.status-msg').show();
            return false;
        } else {
            $('.status-msg').hide();
            $(".button").addClass("loading");
            $('#formId').submit();
        }
    });

    var $contactForm = $('#formId');
    $contactForm.submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: '//formspree.io/cedricfadel@hotmail.com',
            method: 'POST',
            data: $('#formId').serialize(),
            dataType: 'json',
            success: function(data) {
                setTimeout(function() {
                    $(".button").addClass("hide-loading");
                    $('.status-msg').text("Message Sent");
                    $('.status-msg').css("color", "blue");
                    $('.status-msg').show();

                }, 2000);
            },
            error: function(err) {
                setTimeout(function() {
                    $(".button").removeClass("loading");
                    $(".button").removeClass("hide-loading");
                    $('.status-msg').text("Error sending message, Please try again");
                    $('.status-msg').css("color", "red");
                    $('.status-msg').show();
                }, 2000);
            }
        });
    });

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

</script> 
